.laplataLogo {
  height: 80px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 15px;
  background-color: white;
  color: navy;
  padding: 10px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.card:hover {
  background-color: navy;
  color: white;
}

.button {
  font-family: Gantari;
  color: navy;
  background-color: rgb(103, 186, 255);
  border-radius: 5px;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.playerNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  width: 40px;
  padding: 2px;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: 200;
}

.playerName {
  font-family: Gantari;
  font-weight: 400;
  margin-top: 150px;
}

.button:hover {
  cursor: pointer;
}

.helmet {
  height: 200px;
  margin-bottom: -200px;
}
