.appContainer {
  background-image: url(/public/pictures/background.png);
  background-size: auto;
}

.App {
  width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .appContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    align-items: center;
  }
}
